:root {
  --primary-color: #6200ea;
  --padding: 10px 15px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
}

tr {
  height: 75px;
}

tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

th {
  background-color: var(--primary-color);
  color: white;
  padding: var(--padding);
}

td {
  padding: var(--padding);
}

table,
th,
td {
  border: none;
}

tr:not(:last-child) td {
  border-bottom: 1px solid #ddd;
}

.pagination {
  display: flex;
  gap: 20px;
}

.btn-primary {
  height: 40px;
  background-color: var(--primary-color);
  color: #ffffff;
  padding: var(--padding);
  font-size: 14px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}

.btn-primary:disabled {
  opacity: 0.5;
}
.btn-primary:enabled:active {
  transform: scale(0.95);
}

.photo {
  border-radius: 50%;
}
